@import "~bootstrap/scss/bootstrap.scss";

body {
  background-color: #140022;
}

footer {
  padding: 20px 0 10px;
  background-color: #140022;
  color: rgb(235, 228, 228);
  text-align: center;
  font-size: 12px;
}

.errorMessage {
  margin-bottom: 0;
  color: red;
}

main {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 100px;
  background: rgb(17, 0, 36);
  background: linear-gradient(
    135deg,
    rgba(17, 0, 36, 1) 0%,
    rgba(44, 9, 121, 1) 35%,
    rgba(188, 0, 255, 1) 100%
  );
}

.top-header {
  padding-bottom: 40px;
  padding-left: 60px;

  @media only screen and (max-width: 479px) {
    padding-bottom: 20px;
    padding-left: 30px;
  }
}

h1 {
  font-size: 20px;
  font-style: italic;
  color: white;
  span {
    font-weight: bold;
  }
}

.container {
  @media only screen and (min-width: 575px) {
    max-width: unset;
  }
  @media only screen and (max-width: 600px) {
    padding: 0;
  }
}

h2 {
  padding-bottom: 20px;
  text-align: center;
}

.fieldsInfo {
  font-size: 14px;
  font-style: italic;
}

.form-wrapper {
  width: 560px;
  margin: 0 auto;
  padding: 20px 60px;
  border-radius: 0.25rem;
  background: white;

  @media only screen and (max-width: 576px) {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
    border-radius: 0;
  }

  label {
    color: #181717;
    font-size: 15px;
  }
}

.input-label {
  &:after {
    content: "*";
    color: red;
    margin-left: 3px;
  }
}

.form-group {
  margin-top: 1rem;
  margin-bottom: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  @media only screen and (max-width: 479px) {
    display: block;
  }
}

.input-wrapper {
  width: 60%;

  @media only screen and (max-width: 479px) {
    width: 100%;
  }
}

.passwordAdvice {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  p {
    width: 60%;
    margin-bottom: 0px;
    font-size: 12px;
  }
}

.button-wrapper {
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;

  button {
    width: 160px;
    padding: 12px;
  }
}

.btn-primary {
  background-color: rgb(86, 29, 167);
  border-color: rgb(86, 29, 167);
  &:hover {
    // color: #fff;
    background-color: #7530e2;
    border-color: #6224c7;
  }
}
